<!-- Footer Start -->
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-3">
                    <div class="footer-contact">
                        <h2>Sobre nosotros</h2>
                        <p><i class="fa fa-map-marker-alt"></i>Call 10 # 7, Bogotá, COLOMBIA</p>
                        <p><i class="fa fa-phone-alt"></i>+324 400 62 04</p>
                        <p><i class="fa fa-envelope"></i>jainerm6705@gmail.com</p>
                        <div class="footer-social">
                            <a href=""><i class="fab fa-twitter"></i></a>
                            <a href=""><i class="fab fa-facebook-f"></i></a>
                            <a href=""><i class="fab fa-youtube"></i></a>
                            <a href=""><i class="fab fa-instagram"></i></a>
                            <a href=""><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="footer-link">
                        <h2>Enlace útil</h2>
                        <a href="">Acerca de</a>
                        <a href="">Contactenos</a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6">
                    <div class="footer-form">
                        <h2>Este actualizado</h2>
                        <p>
                            Cualquier inquietud con gusto la atenderemos en el correo.
                        </p>
                        <input class="form-control" placeholder="Ingrese su correo electrónico">
                        <button class="btn">Enviar</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="container footer-menu">
            <div class="f-menu">
                <a href="">Terminos de uso</a>
                <a href="">Poitica de privacidad</a>
                <a href="">Cookies</a>
                <a href="">Ayudas y preguntas</a>
                <a href="">Contactenos</a>
            </div>
        </div>
        <div class="container copyright">
            <div class="row">
                <div class="col-md-6">
                    <p>&copy; <a href="#">Julio de 2021</a>, All Right Reserved.</p>
                </div>
                <div class="col-md-6">
                    <p>Designed By <a href="#">JAMS - (C) 2021</a></p>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->
    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

  
