    <!-- Header Start -->
    <div class="header home">
        <div class="container-fluid">
            <div class="header-top row align-items-center">
                <div class="col-lg-3">
                    <div class="brand">
                        <a href="index.html">
                            Actividades
                            <!-- <img src="../img/portfolio-1.jpg" alt="Logo"> -->
                        </a>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="topbar">
                        <div class="topbar-col">
                            <a href="tel:+012 345 67890"><i class="fa fa-phone-alt"></i>+324 400 62 04</a>
                        </div>
                        <div class="topbar-col">
                            <a href="mailto:info@example.com"><i class="fa fa-envelope"></i>jainerm6705@gmail.com</a>
                        </div>
                        <div class="topbar-col">
                            <div class="topbar-social">
                                <a href=""><i class="fab fa-twitter"></i></a>
                                <a href=""><i class="fab fa-facebook-f"></i></a>
                                <a href=""><i class="fab fa-youtube"></i></a>
                                <a href=""><i class="fab fa-instagram"></i></a>
                                <a href=""><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                        <div class="topbar-col">
                            <a href="#"><i class="fa fa-person"></i>JAINERM</a>
                        </div>
                    </div>
                    <div class="navbar navbar-expand-lg bg-light navbar-light">
                        <a href="#" class="navbar-brand">MENU</a>
                        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                            <div class="nav-item ml-auto" *ngFor="let item of datosMenu">
                                <a href="{{item.url}}" class="nav-link"><i class="{{item.icon}}"></i>{{item.titulo}}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
    <!-- Header End -->
