<div class="header home">
    <div class="container-fluid">
        <div class="hero row">
            <div class="col-lg-4 col-md-6">
                <h1>REQUERIDO</h1>
                <div class="about-text">
                    <div class="form" *ngFor="let event of usuarios">
                        <h3>Datos de ingreso</h3>
                        <form>
                            <input class="form-control" type="text" placeholder="Su nombre" value="{{event.nombreUsr}}">
                            <input class="form-control" type="text" placeholder="Su Apellido" value="{{event.apellidoUsr}}">
                            <div class="control-group">
                                <select class="custom-select">
                                    <option selected>Genero</option>
                                    <option value="1">Masuculino</option>
                                    <option value="2">Femenino</option>
                                    <option value="3">No responde</option>
                                </select>
                            </div>
                            <input class="form-control" type="text" placeholder="Correo" value="{{event.correoUsr}}">
                            <textarea class="form-control" placeholder="Cargo" value="{{event.cargoUsr}}"></textarea>
                            <button class="btn btn-block">Registrarse</button>
                        </form>
                    </div>
                </div>
                <div class="about-text">
                    <div class="form" *ngFor="let event of usuarios">
                        <h3>Datos de ingreso</h3>
                        <form>
                            <input class="form-control" type="text" placeholder="Su nombre" value="{{event.nombreUsr}}">
                            <input class="form-control" type="text" placeholder="Su Apellido" value="{{event.apellidoUsr}}">
                            <div class="control-group">
                                <select class="custom-select">
                                    <option selected>Genero</option>
                                    <option value="1">Masuculino</option>
                                    <option value="2">Femenino</option>
                                    <option value="3">No responde</option>
                                </select>
                            </div>
                            <input class="form-control" type="text" placeholder="Correo" value="{{event.correoUsr}}">
                            <textarea class="form-control" placeholder="Cargo" value="{{event.cargoUsr}}"></textarea>
                            <button class="btn btn-block">Registrarse</button>
                        </form>
                    </div>
                </div>
                <div class="about-text">
                    <div class="form" *ngFor="let event of usuarios">
                        <h3>Datos de ingreso</h3>
                        <form>
                            <input class="form-control" type="text" placeholder="Su nombre" value="{{event.nombreUsr}}">
                            <input class="form-control" type="text" placeholder="Su Apellido" value="{{event.apellidoUsr}}">
                            <div class="control-group">
                                <select class="custom-select">
                                    <option selected>Genero</option>
                                    <option value="1">Masuculino</option>
                                    <option value="2">Femenino</option>
                                    <option value="3">No responde</option>
                                </select>
                            </div>
                            <input class="form-control" type="text" placeholder="Correo" value="{{event.correoUsr}}">
                            <textarea class="form-control" placeholder="Cargo" value="{{event.cargoUsr}}"></textarea>
                            <button class="btn btn-block">Registrarse</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <h1>EN PROCESO</h1>
                <div class="about-text">
                    <div class="form" *ngFor="let event of usuarios">
                        <h3>Datos de ingreso</h3>
                        <form>
                            <input class="form-control" type="text" placeholder="Su nombre" value="{{event.nombreUsr}}">
                            <input class="form-control" type="text" placeholder="Su Apellido" value="{{event.apellidoUsr}}">
                            <div class="control-group">
                                <select class="custom-select">
                                    <option selected>Genero</option>
                                    <option value="1">Masuculino</option>
                                    <option value="2">Femenino</option>
                                    <option value="3">No responde</option>
                                </select>
                            </div>
                            <input class="form-control" type="text" placeholder="Correo" value="{{event.correoUsr}}">
                            <textarea class="form-control" placeholder="Cargo" value="{{event.cargoUsr}}"></textarea>
                            <button class="btn btn-block">Registrarse</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <h1>REALIZADO</h1>
                <div class="about-text">
                    <div class="form" *ngFor="let event of usuarios">
                        <h3>Datos de ingreso</h3>
                        <form>
                            <input class="form-control" type="text" placeholder="Su nombre" value="{{event.nombreUsr}}">
                            <input class="form-control" type="text" placeholder="Su Apellido" value="{{event.apellidoUsr}}">
                            <div class="control-group">
                                <select class="custom-select">
                                    <option selected>Genero</option>
                                    <option value="1">Masuculino</option>
                                    <option value="2">Femenino</option>
                                    <option value="3">No responde</option>
                                </select>
                            </div>
                            <input class="form-control" type="text" placeholder="Correo" value="{{event.correoUsr}}">
                            <textarea class="form-control" placeholder="Cargo" value="{{event.cargoUsr}}"></textarea>
                            <button class="btn btn-block">Registrarse</button>
                        </form>
                    </div>
                </div>
                <div class="about-text">
                    <div class="form" *ngFor="let event of usuarios">
                        <h3>Datos de ingreso</h3>
                        <form>
                            <input class="form-control" type="text" placeholder="Su nombre" value="{{event.nombreUsr}}">
                            <input class="form-control" type="text" placeholder="Su Apellido" value="{{event.apellidoUsr}}">
                            <div class="control-group">
                                <select class="custom-select">
                                    <option selected>Genero</option>
                                    <option value="1">Masuculino</option>
                                    <option value="2">Femenino</option>
                                    <option value="3">No responde</option>
                                </select>
                            </div>
                            <input class="form-control" type="text" placeholder="Correo" value="{{event.correoUsr}}">
                            <textarea class="form-control" placeholder="Cargo" value="{{event.cargoUsr}}"></textarea>
                            <button class="btn btn-block">Registrarse</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


