<div class="header home">
    <div class="container-fluid">
        <div class="hero row" *ngIf="siRegistrado">
            <div class="col-lg-4 col-md-6">
                <h1>REQUERIDO</h1>
                <div class="about-text">
                    <div class="form" *ngFor="let event of usuarios">
                        <h3>Tarea: 45124</h3>
                        <form>
                            <input class="form-control" type="text" placeholder="Titulo" value="">
                            <input class="form-control" type="text" placeholder="Actividad" value="">
                            <div class="control-group">
                                <select class="custom-select">
                                    <option selected>Estado</option>
                                    <option value="1">Iniciada</option>
                                    <option value="2">Detenida</option>
                                    <option value="3">Anulada</option>
                                </select>
                            </div>
                            <input class="form-control" type="number" placeholder="Tiempo" value="">
                            <textarea class="form-control" placeholder="Seguimiento" value=""></textarea>
                            <button class="btn btn-block">Registrarse</button>
                        </form>
                    </div>
                </div>
                <div class="about-text">
                    <div class="form" *ngFor="let event of usuarios">
                        <h3>Tarea: 45182</h3>
                        <form>
                            <input class="form-control" type="text" placeholder="Titulo" value="{{event.nombreUsr}}">
                            <input class="form-control" type="text" placeholder="Actividad" value="{{event.apellidoUsr}}">
                            <div class="control-group">
                                <select class="custom-select">
                                    <option>Estado</option>
                                    <option value="1">Iniciada</option>
                                    <option selected value="2">Detenida</option>
                                    <option value="3">Anulada</option>
                                </select>
                            </div>
                            <input class="form-control" type="number" placeholder="Tiempo" value="">
                            <textarea class="form-control" placeholder="Seguimiento" value=""></textarea>
                            <button class="btn btn-block">Registrarse</button>
                        </form>
                    </div>
                </div>
                <div class="about-text">
                    <div class="form" *ngFor="let event of usuarios">
                        <h3>Tarea: 45748</h3>
                        <form>
                            <input class="form-control" type="text" placeholder="Titulo" value="{{event.nombreUsr}}">
                            <input class="form-control" type="text" placeholder="Actividad" value="{{event.apellidoUsr}}">
                            <div class="control-group">
                                <select class="custom-select">
                                    <option selected>Estado</option>
                                    <option value="1">Iniciada</option>
                                    <option value="2">Detenida</option>
                                    <option value="3">Anulada</option>
                                </select>
                            </div>
                            <input class="form-control" type="number" placeholder="Tiempo" value="">
                            <textarea class="form-control" placeholder="Seguimiento" value=""></textarea>
                            <button class="btn btn-block">Registrarse</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <h1>EN PROCESO</h1>
                <div class="about-text">
                    <div class="form" *ngFor="let event of usuarios">
                        <h3>Tarea: 45877</h3>
                        <form>
                            <input class="form-control" type="text" placeholder="Titulo" value="{{event.nombreUsr}}">
                            <input class="form-control" type="text" placeholder="Actividad" value="{{event.apellidoUsr}}">
                            <div class="control-group">
                                <select class="custom-select">
                                    <option>Estado</option>
                                    <option selected value="1">Iniciada</option>
                                    <option value="2">Detenida</option>
                                    <option value="3">Anulada</option>
                                </select>
                            </div>
                            <input class="form-control" type="number" placeholder="Tiempo" value="">
                            <textarea class="form-control" placeholder="Seguimiento" value=""></textarea>
                            <button class="btn btn-block">Registrarse</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <h1>REALIZADO</h1>
                <div class="about-text">
                    <div class="form" *ngFor="let event of usuarios">
                        <h3>Tarea 88214</h3>
                        <form>
                            <input class="form-control" type="text" placeholder="Su nombre" value="{{event.nombreUsr}}">
                            <input class="form-control" type="text" placeholder="Su Apellido" value="{{event.apellidoUsr}}">
                            <div class="control-group">
                                <select class="custom-select">
                                    <option selected>Finalizada</option>
                                    <option value="1">Iniciada</option>
                                    <option value="2">Detenida</option>
                                    <option value="3">Anulada</option>
                                </select>
                            </div>
                            <input class="form-control" type="text" placeholder="Correo" value="">
                            <textarea class="form-control" placeholder="Cargo" value=""></textarea>
                            <button class="btn btn-block">Registrarse</button>
                        </form>
                    </div>
                </div>
                <div class="about-text">
                    <div class="form" *ngFor="let event of usuarios">
                        <h3>Tarea: 88478</h3>
                        <form>
                            <input class="form-control" type="text" placeholder="Su nombre" value="{{event.nombreUsr}}">
                            <input class="form-control" type="text" placeholder="Su Apellido" value="{{event.apellidoUsr}}">
                            <div class="control-group">
                                <select class="custom-select">
                                    <option selected>Finalizada</option>
                                    <option value="1">Iniciada</option>
                                    <option value="2">Detenida</option>
                                    <option value="3">Anulada</option>
                                </select>
                            </div>
                            <input class="form-control" type="text" placeholder="Correo" value="">
                            <textarea class="form-control" placeholder="Cargo" value=""></textarea>
                            <button class="btn btn-block">Registrarse</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


